@charset "utf-8";
@import url("../plugins/slick/slick.css");
.article-container{
	width: 70%;
	height: auto;
	position: relative;
	margin: auto 15% auto 15%;
}
.comment-container{
	width: 70%;
	height:auto;
	position:relative;
	margin:80px 15% 50px 15%;
	list-style: none;
	border: 1px solid #CACACA;
}
.info-box{
	border-bottom: 1px dashed #CACACA;
    line-height: 22px;
    margin-bottom: 4px;
    word-wrap: break-word;
    color: #999;
	width:90%;
	margin-left: 5%;
	margin-top: 10px;
	position:relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
}
.articleinfo-bar{
	margin-top: 25px;
    color:black;
    font-size: 14px;
    line-height: 24px;
	width:100%;
	height: 24px;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	border-bottom: 1px solid #ccc;
}
.article-content{
    font-size: 16px;
	width:100%;
	height: auto;
	margin:16px auto auto auto;
	line-height:24px;
}
.comment-content{
	display: block;
    width: 100%;
    padding: 7px 8px;
    background: #fff;
    border: 1px solid #c1c1c1;
    border-radius: 4px;
    resize: none;
    height: 38px;
    font-size: 14px;
    line-height: 22px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: height .3s ease-in-out;
    transition: height .3s ease-in-out;
}
.comment-edit-box{
	width:70%;
	margin:auto 15% auto 15%;
}
.right-box{
	margin-top: 6px;
	width:auto;
}
.btn-comment{
	float:right;
	height: 30px;
    line-height: 28px;
    min-width: 72px;
	display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    text-align: center;
	border:none;
	background-color: #117a8b;
	color:#fff;
}
.btn-write{
	float:right;
	height: 34px;
    line-height: 32px;
    min-width: 100px;
	display: inline-block;
    font-size: 16px;
    border-radius: 6px;
    text-align: center;
	border:none;
	margin-right: 20%;
	margin-top: 30px;
	background-color: #117a8b;
	color:#fff;
}
.tip{
	float:left;
	margin-top:3px;
	font-size: 14px;
    color: #999;
    line-height: 20px;
}
div.info-box .comment,div.info-box .floor-num{
	color: #4d4d4d;
    font-size: 14px;
    margin-left: 0;
    vertical-align: top;
}
div.info-box .date,div.info-box .floor-num{
	font-size: 12px;
    color: #999;
    vertical-align: top;
    display: inline-block;
	margin-left: 16px;
}
