<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LemonQuant-{{title}}</title>
	<!--Css Links-->
	<link href="../static/assets/bootstrap-4.0.0-beta.3-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../static/assets/css/app.css" rel="stylesheet" type="text/css">
	<link href="../static/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="../static/assets/css/ionicons.css" rel="stylesheet" type="text/css">
	<link href="../static/assets/css/responsive.css" rel="stylesheet" type="text/css">
	<link href="../static/assets/plugins/slick/slick-theme.css" rel="stylesheet" type="text/css">
	<link href="../static/assets/plugins/slick/slick.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,900|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:500,500i,600,600i,700,700i,800,800i" rel="stylesheet">
</head>
<body>
<!--===navigation===-->
	<header id="nav" class="header">
		<!--menu-->
		<div class="navbar navbar-expand-md navbar-light default-menu justify-content-between" role="navigation" style="background-color: #3D5C63">
			<div class="container-fluid">
				<a href="index.html" class="site-logo navbar-brand" style="color:#FFF010">LemonQuant</a>
				<button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#v" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
				<div class="collapse navbar-collapse" id="v">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item active"><a class="nav-link scroll" href="index.html">Home</a></li>
                        <li class="nav-item"><a class="nav-link scroll" href="market.html">Market</a></li>
                        <li class="nav-item"><a class="nav-link scroll" href="strategy.html">Strategy</a></li>
                        <li class="nav-item"><a class="nav-link scroll" href="community.html">Community</a></li>
                        <li class="nav-item"><a class="nav-link scroll" href="news.html">News</a></li>
                        <li class="nav-item"><a class="nav-link scroll" href="personal">Personal</a></li>
                        <!--注释原本的下拉菜单<li class="dropdown nav-item"><a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">pages</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="blogpage.html"><i class="ion ion-chevron-right"></i>Blog Home page</a></li>
                                <li><a class="dropdown-item" href="single-post.html"><i class="ion ion-chevron-right"></i>single Post Page</a></li>
                                <li><a class="dropdown-item" href="contact.html"><i class="ion ion-chevron-right"></i>Our Contact</a></li>
                                <li><a class="dropdown-item" href="blogpage.html"><i class="ion ion-chevron-right"></i>Blog Home page</a></li>
                                <li><a class="dropdown-item" href="single-post.html"><i class="ion ion-chevron-right"></i>single Post Page</a></li>
                            </ul>
                        </li>-->
                    </ul>
                    <ul class="nav navbar-nav ml-auto">
                            {% if us.is_authenticated %}
                        <li><a href="MyStrategy.html">{{us.username}}</a></li>
                        <li><a href="logout">Logout</a></li>
                        {% else %}
                        <li><a href="login.html">Login</a></li>
                        {% endif %}

                        <li class="dropdown nav-item"><a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="ion ion-ios-search-strong"></i></a>
                            <ul class="dropdown-menu dropdown-menu-right list-search">
                                <li class="dropdown-item">
                                    <form class="navbar-left nav-search" role="search">
                                        <div class="form-inline">
                                            <input class="form-control" placeholder="Search..." type="text">
                                            <i class="fa fa-search"></i>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#popup"><i class="ion ion-navicon"></i></a></li>
                    </ul>
                </div>
			</div>
		</div>
	</header>
{% block content %}

{% endblock %}

	<!--===页脚===-->
	<section id="action" class="call-to-action-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="call-to-action-wrap">
                        <div class="call-to-action-title">
                            <h3>有任何建议或意见，欢迎随时联系我们。感谢您帮助我们完善LEMONQUANT平台。<br/>联系邮箱：xxxxx@163.com</h3>
						</div>
                    </div>
                </div>
            </div>
        </div>
</section>
	<!--=== footer ===-->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-5 align-self-center"> <div><p>LEMONQUANT All Rights Reserved.</p></div>

                </div>
                <div class="col-lg-7 col-md-6 col-sm-7 align-self-center">
                    <ul class="list-inline footer-menu">
                        <li class="list-inline-item"><a href="index.html">Home</a></li>
                        <li class="list-inline-item"><a href="market.html">Market</a></li>
                        <li class="list-inline-item"><a href="strategy.html">Strategy</a></li>
                        <li class="list-inline-item"><a href="community.html">Community</a></li>
						<li class="list-inline-item"><a href="news.html">News</a></li>
						<li class="list-inline-item"><a href="login.html">Personal</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

	<!--=== offset canvas / sidebar ===-->
    <div class="popup" id="popup">
        <div class="popup-content"><div class="left-slide-sidebar ">
            <div class="canvas-title">Offset Canvas Menu</div>
            <ul class="list-unstyled slide-sidebar">
                <li><a href="index.html">Home</a></li>
                <li><a href="market.html">Market</a></li>
                <li><a href="strategy.html">Strategy</a></li>
                <li><a href="community.html">Community</a></li>
                <li><a href="news.html">News</a></li>
                <li><a href="login.html">Personal</a></li>
            </ul>
        </div>
            <a href="#close" class="popup-close">&times;</a>
        </div>
    </div>

	<!--============ JavaScript ===========-->
    <script src="../static/assets/js/jquery-3.2.1.slim.min.js"></script>
    <script src="../static/assets/bootstrap-4.0.0-beta.3-dist/js/bootstrap.min.js"></script>
    <script src="../static/assets/js/popper.min.js"></script>
    <script src="../static/assets/plugins/slick/slick.min.js"></script>
    <script src="../static/assets/js/app.js"></script>
</body>
</html>