{% extends 'base.html' %}
	{% block content %}

<link href="../static/assets/css/news.css" rel="stylesheet" type="text/css">
<link href="../static/assets/css/pagination-bar.css" rel="stylesheet" type="text/css">
<link href="../static/assets/bootstrap-4.0.0-beta.3-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="../static/assets/css/app.css" rel="stylesheet" type="text/css">
<link href="../static/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="../static/assets/css/ionicons.css" rel="stylesheet" type="text/css">
<link href="../static/assets/css/news.css" rel="stylesheet" type="text/css">
<link href="../static/assets/css/pagination-bar.css" rel="stylesheet" type="text/css">
<link href="../static/assets/css/responsive.css" rel="stylesheet" type="text/css">
<link href="../static/assets/plugins/slick/slick-theme.scss.css" rel="stylesheet" type="text/css">
<section class="news">
    <div class="search-container">
        <form action="" class="parent">
            <input type="search" class="search" placeholder="Search..." align="middle">
            <input type="submit" name="新闻搜索" id="SearchNews" class="btn" value="GO">
        </form>
    </div>
    <li class="feedlist-home">
        <div class="news-container">
            <div class="news-title"> <a href="新闻链接" style="font-family: 'MF ShangYa (Noncommercial)'">讨论贴标题</a> </div>
            <div class="news-abstract"> 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 </div>
            <dl class="news-bar">
				<dt><a href="#" target="_blank" class="">头像</a></dt>
				<div class="interval">&nbsp|&nbsp</div>
                <dd class="website-name"> 发布者用户名
                </dd>
                    <div class="interval">&nbsp|&nbsp</div>
                <dd class="news-date"> 5月27日
                </dd>
            </dl>
        </div>
        <div class="news-container">
            <div class="news-title"> <a href="新闻链接" style="font-family: 'MF ShangYa (Noncommercial)'">讨论贴标题</a> </div>
            <div class="news-abstract"> 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 </div>
            <dl class="news-bar">
				<dt><a href="#" target="_blank" class="">头像</a></dt>
				<div class="interval">&nbsp|&nbsp</div>
                <dd class="website-name"> 发布者用户名
                </dd>
                    <div class="interval">&nbsp|&nbsp</div>
                <dd class="news-date"> 5月27日
                </dd>
            </dl>
        </div>
		<div class="news-container">
            <div class="news-title"> <a href="新闻链接" style="font-family: 'MF ShangYa (Noncommercial)'">讨论贴标题</a> </div>
            <div class="news-abstract"> 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 </div>
            <dl class="news-bar">
				<dt><a href="#" target="_blank" class="">头像</a></dt>
				<div class="interval">&nbsp|&nbsp</div>
                <dd class="website-name"> 发布者用户名
                </dd>
                    <div class="interval">&nbsp|&nbsp</div>
                <dd class="news-date"> 5月27日
                </dd>
            </dl>
        </div>
		<div class="news-container">
            <div class="news-title"> <a href="新闻链接" style="font-family: 'MF ShangYa (Noncommercial)'">讨论贴标题</a> </div>
            <div class="news-abstract"> 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 </div>
            <dl class="news-bar">
				<dt><a href="#" target="_blank" class="">头像</a></dt>
				<div class="interval">&nbsp|&nbsp</div>
                <dd class="website-name"> 发布者用户名
                </dd>
                    <div class="interval">&nbsp|&nbsp</div>
                <dd class="news-date"> 5月27日
                </dd>
            </dl>
        </div>
		<div class="news-container">
            <div class="news-title"> <a href="新闻链接" style="font-family: 'MF ShangYa (Noncommercial)'">讨论贴标题</a> </div>
            <div class="news-abstract"> 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 </div>
            <dl class="news-bar">
				<dt><a href="#" target="_blank" class="">头像</a></dt>
				<div class="interval">&nbsp|&nbsp</div>
                <dd class="website-name"> 发布者用户名
                </dd>
                    <div class="interval">&nbsp|&nbsp</div>
                <dd class="news-date"> 5月27日
                </dd>
            </dl>
        </div>
		<div class="news-container">
            <div class="news-title"> <a href="community-content" style="font-family: 'MF ShangYa (Noncommercial)'">讨论贴标题</a> </div>
            <div class="news-abstract"> 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 </div>
            <dl class="news-bar">
				<dt><a href="#" target="_blank" class="">头像</a></dt>
				<div class="interval">&nbsp|&nbsp</div>
                <dd class="website-name"> 发布者用户名
                </dd>
                    <div class="interval">&nbsp|&nbsp</div>
                <dd class="news-date"> 5月27日
                </dd>
            </dl>
        </div>
        <div class="news-container">
            <div class="news-title"> <a href="community-content" style="font-family: 'MF ShangYa (Noncommercial)'">讨论贴标题</a> </div>
            <div class="news-abstract"> 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 </div>
            <dl class="news-bar">
				<dt><a href="#" target="_blank" class="">头像</a></dt>
				<div class="interval">&nbsp|&nbsp</div>
                <dd class="website-name"> 发布者用户名
                </dd>
                    <div class="interval">&nbsp|&nbsp</div>
                <dd class="news-date"> 5月27日
                </dd>
            </dl>
        </div>
		<div class="news-container">
            <div class="news-title"> <a href="community-content" style="font-family: 'MF ShangYa (Noncommercial)'">讨论贴标题</a> </div>
            <div class="news-abstract"> 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 </div>
            <dl class="news-bar">
				<dt><a href="#" target="_blank" class="">头像</a></dt>
				<div class="interval">&nbsp|&nbsp</div>
                <dd class="website-name"> 发布者用户名
                </dd>
                    <div class="interval">&nbsp|&nbsp</div>
                <dd class="news-date"> 5月27日
                </dd>
            </dl>
        </div>
		<div class="news-container">
            <div class="news-title"> <a href="community-content" style="font-family: 'MF ShangYa (Noncommercial)'">讨论贴标题</a> </div>
            <div class="news-abstract"> 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 </div>
            <dl class="news-bar">
				<dt><a href="#" target="_blank" class="">头像</a></dt>
				<div class="interval">&nbsp|&nbsp</div>
                <dd class="website-name"> 发布者用户名
                </dd>
                    <div class="interval">&nbsp|&nbsp</div>
                <dd class="news-date"> 5月27日
                </dd>
            </dl>
        </div>
		<div class="news-container">
            <div class="news-title"> <a href="community-content" style="font-family: 'MF ShangYa (Noncommercial)'">讨论贴标题</a> </div>
            <div class="news-abstract"> 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 讨论贴摘要 </div>
            <dl class="news-bar">
				<dt><a href="#" target="_blank" class="">头像</a></dt>
				<div class="interval">&nbsp|&nbsp</div>
                <dd class="website-name"> 发布者用户名
                </dd>
                    <div class="interval">&nbsp|&nbsp</div>
                <dd class="news-date"> 5月27日
                </dd>
            </dl>
        </div>
    </li>
</section>
<div class="pagination-bar">
	<a href="#" class="page-prev disabled">&lt;</a>
	<a href="#" class="disabled">1</a>
	<a href="#">2</a>
	<a href="#">3</a>
	<a href="#">4</a>
	<span>...</span>
	<a href="#">19</a>
	<a href="#">20</a>
	<a href="#" class="page-next">&gt;</a>
</div>
{% endblock %}