{% extends 'base.html' %}
	{% block content %}
	<!--=== header intro ===-->
    <section id="home" class="header-intro-1 d-flex align-items-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="header-intro-wrap text-center">
                        <div class="header-intro-title" style="font-family: 'MF ShangYa (Noncommercial)'"><h3>自主化在线策略研究分析平台</h3></div>
                        <div class="header-intro-tag" style="font-family: 'MF ShangYa (Noncommercial)'">实时行情，相关新闻，智能推荐，策略回测，交流社区，想你所想</div>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="login.html" class="btn btn-primary main-btn bg-main">立即体验</a></li>
                            <!--<li class="list-inline-item"><a href="#" class="btn btn-primary main-btn bg-green">Purchase Now</a></li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
	
	<!--=== feature ===-->
    <section id="feature" class="feature" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center" style="height: 60px">
                    <!--<div class="section-tag">Our Provided</div>-->
                    <div class="section-title mb-5"><h2>Latest Features</h2></div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-6">
                    <div class="feature-wrap">
                        <div><i class="ion ion-ios-cloud-outline"></i></div>
                        <a href="#">海量金融数据</a>
                        <p>涵盖各项股票行情数据，充足完备，实时刷新，可视图表，辅助交易。</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-6">
                    <div class="feature-wrap">
                        <div><i class="ion ion-ios-gear-outline"></i></div>
                        <a href="#">策略研究工具</a>
                        <p>提供历史数据进行策略回测，支持各项参数调整，直观比对策略收益。</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-6">
                    <div class="feature-wrap">
                        <div><i class="ion ion-ios-bell-outline"></i></div>
                        <a href="#">新闻集中抓取</a>
                        <p>便捷获取全面的行业新鲜动态，洞察市场，辅助风险预测。</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-6">
                    <div class="feature-wrap">
                        <div><i class="ion ion-ios-timer-outline"></i></div>
                        <a href="#">经验交流社区</a>
                        <p>投资爱好者集中地，开放的交流研讨平台，学习、分享优质策略。</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
	
	<!--=== highlight section ===-->
    <section class="highlight-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="highlight-section-wrap text-center">
                        <div class="highlight-section-title" style="font-family: 'MF ShangYa (Noncommercial)'"><h3>我们致力于提供富有创造力的平台</h3></div>
                        <div class="highlight-section-tag" style="font-family: 'MF ShangYa (Noncommercial)'">加入我们，分享你的智慧</div>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="#" class="btn btn-primary main-btn bg-main">逛逛社区</a></li>
                            <!--<li class="list-inline-item"><a href="#" class="btn btn-primary main-btn bg-green">Purchase Now</a></li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}