{% extends 'base.html' %}
	{% block content %}
<section class="highlight-section">
    <div class="container-fluid">
        <div class="highlight-section-wrap text-center">
            <div class="highlight-section-tag col-md-12" style="font-family: 'MF ShangYa (Noncommercial)'"  text-shadow="0 0 10px"><h3> LOGIN</h3> </div>
            <div class="col-md-12" id="login">
                <form action="/login" method="post">
                    {{form.hidden_tag()}}
                    <p>
                    {{ form.username.label(style="color: white; font-size: 20px;") }}<br>
                    {{ form.username(size=32) }}<br>
                    {% for error in form.username.errors %}
                    <span style="color: red; float: outside">[{{ error }}]</span>
                    {% endfor %}
                    </p>
                    <p>
                    {{ form.password.label(style="color: white; font-size: 20px;") }}<br>
                    {{ form.password(size=32) }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red; float: outside">[{{ error }}]</span>
                    {% endfor %}
                    </p>
                    <br/>
			<button class="btn btn-primary main-btn bg-main" type="submit" style="height: 40px; text-align: center; font-size: 20px;padding-top: 0px;">登录</button>
			<br /><br />
                </form>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class="flash">
                            {% for message in messages %}
                                <div class="alert alert-success" style="text-align: center">
                                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                    <strong>{{ message }}</strong></div>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
			<a href="signup.html" style="color:aliceblue"><u>还没有账号？立即注册</u></a>
            </div>
        </div>
    </div>
</section>
{% endblock %}