{% extends 'base.html' %}
	{% block content %}
	<!--=== page header ===-->
    <section class="page-header d-flex align-items-center">
        <div class="container-fluid">
            <div class="page-header-content text-center">
                <!--<div class="page-header-tag">Post Detail</div>-->
                <div class="page-header-title" style="font-family: 'MF ShangYa (Noncommercial)'">查看实时市场行情</div>
            </div>
        </div>
    </section>
	
	<!--=== 行情搜索栏 ===-->
	<div class="container-fluid">
		<div class="row">
			<div class="col-3 offset-1 form-inline" style="padding: 10px 0 10px 0;">
				<label style="margin-right: 10px;">菜单</label>
				<select name="" class="market-select-box">
					<option value="0">种类一</option>
					<option value="1">种类二</option>
					<option value="2">种类三</option>
				</select>
			</div>
			<div class="col-8" style="padding: 10px 0 10px 0;">
				<input type="text" class="search" placeholder="搜索">
				<input type="button" name="" id="" class="btn">
			</div>
		</div>
	</div>
	
	<!--=== 行情列表 ===-->
	<div class="container-fluid">
		<div class="row">
			<div class="boxhead col-11">
					<h2>※个股行情</h2>
				</div>
			<div class="col-2 offset-2 text-info" style="padding: 10px;">
				<a href="#">全部股票</a>
			</div>
			<div class="col-2 text-info" style="padding: 10px;">
				<a href="#">上证A股</a>
			</div>
			<div class="col-2 text-info" style="padding: 10px;">
				<a href="#">深证A股</a>
			</div>
			<div class="col-2 text-info" style="padding: 10px;">
				<a href="#">创业板</a>
			</div>
			<div class="col-2 text-info" style="padding: 10px;">
				<a href="#">中小板</a>
			</div>
			<div class="table-responsive">
				<table class="table table-hover" style="font-size: 10px;">
					<thead>
						<th style="width:6%">序号</th>
                    		<th style="width:6%">代码</th>
		                    <th style="width:8%">名称</th>
		                    <th style="width:6%" ><a href="javascript:void(0)" field="xj" >现价<i></i></a></th>
        		            <th style="width:9%"  class="cur"><a href="javascript:void(0)" field="zdf" order="desc"  class="desc">涨跌幅(%)<i></i></a></th>
                 		    <th style="width:6%" ><a href="javascript:void(0)" field="zd" >涨跌<i></i></a></th>
		                    <th style="width:8%" ><a href="javascript:void(0)" field="zs" >涨速(%)<i></i></a></th>
     		                <th style="width:8%" ><a href="javascript:void(0)" field="hs" >换手(%)<i></i></a></th>
            		        <th style="width:6%" ><a href="javascript:void(0)" field="lb" >量比<i></i></a></th>
		                    <th style="width:8%" ><a href="javascript:void(0)" field="zf" >振幅(%)<i></i></a></th>
        		            <th style="width:7%" ><a href="javascript:void(0)" field="cje" >成交额<i></i></a></th>
                		    <th style="width:7%" ><a href="javascript:void(0)" field="ltg" >流通股<i></i></a></th>
		                    <th style="width:8%" ><a href="javascript:void(0)" field="ltsz" >流通市值<i></i></a></th>
        		            <th style="width:7%" ><a href="javascript:void(0)" field="syl" >市盈率<i></i></a></th>
					</thead>
					<tbody>
						<tr>
							<td>01</td>
							<td>0000000</td>
							<td>0000000</td>
							<td>0</td>
							<td>6</td>
							<td>0</td>
							<td>5</td>
							<td>10</td>
							<td>0</td>
							<td>2</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>1</td>
						</tr>
						<tr>
							<td>02</td>
							<td>0000000</td>
							<td>0000000</td>
							<td>0</td>
							<td>6</td>
							<td>0</td>
							<td>5</td>
							<td>10</td>
							<td>0</td>
							<td>2</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>1</td>
						</tr>
						<tr>
							<td>03</td>
							<td>0000000</td>
							<td>0000000</td>
							<td>0</td>
							<td>6</td>
							<td>0</td>
							<td>5</td>
							<td>10</td>
							<td>0</td>
							<td>2</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>1</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<!--===页脚===-->
	<section id="action" class="call-to-action-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="call-to-action-wrap">
                        <div class="call-to-action-title">
                            <!--<div class="text-center"><a href="#" class="btn btn-primary main-btn">Download Apps </a></div>-->
                            <h3>有任何建议或意见，欢迎随时联系我们。感谢您帮助我们完善LEMONQUANT平台。<br/>联系邮箱：xxxxx@163.com</h3>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}