{% extends 'base.html' %}
	{% block content %}
<link href="../static/assets/css/news.css" rel="stylesheet" type="text/css">
<link href="../static/assets/css/pagination-bar.css" rel="stylesheet" type="text/css">
<section class="news">
    <div class="search-container">
        <form action="" class="parent">
            <input type="search" class="search" placeholder="Search..." align="middle">
            <input type="submit" name="新闻搜索" id="SearchNews" class="btn" value="GO">
        </form>
    </div>
    <li class="feedlist-home">
        <div class="news-container">
            <div class="news-title"> <a href="新闻链接" style="font-family: 'MF ShangYa (Noncommercial)'">新闻标题</a> </div>
            <div class="news-abstract"> 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 </div>
            <dl class="news-bar">
                <dd class="website-name"> 新闻网站名称
                <dd>
                    <div class="interval">&nbsp|&nbsp</div>
                <dd class="news-date"> 5月24日
                <dd>
            </dl>
        </div>
        <div class="news-container">
            <div class="news-title"> <a href="新闻链接" style="font-family: 'MF ShangYa (Noncommercial)'">新闻标题</a> </div>
            <div class="news-abstract"> 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 </div>
            <dl class="news-bar">
                <dd class="website-name"> 新闻网站名称
                <dd>
                    <div class="interval">&nbsp|&nbsp</div>
                <dd class="news-date"> 5月24日
                <dd>
            </dl>
        </div>
        <div class="news-container">
            <div class="news-title"> <a href="新闻链接" style="font-family: 'MF ShangYa (Noncommercial)'">新闻标题</a> </div>
            <div class="news-abstract"> 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 </div>
            <dl class="news-bar">
                <dd class="website-name"> 新闻网站名称
                <dd>
                    <div class="interval">&nbsp|&nbsp</div>
                <dd class="news-date"> 5月24日
                <dd>
            </dl>
        </div>
        <div class="news-container">
            <div class="news-title"> <a href="新闻链接" style="font-family: 'MF ShangYa (Noncommercial)'">新闻标题</a> </div>
            <div class="news-abstract"> 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 </div>
            <dl class="news-bar">
                <dd class="website-name"> 新闻网站名称
                <dd>
                    <div class="interval">&nbsp|&nbsp</div>
                <dd class="news-date"> 5月24日
                <dd>
            </dl>
        </div>
        <div class="news-container">
            <div class="news-title"> <a href="新闻链接" style="font-family: 'MF ShangYa (Noncommercial)'">新闻标题</a> </div>
            <div class="news-abstract"> 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 </div>
            <dl class="news-bar">
                <dd class="website-name"> 新闻网站名称
                <dd>
                    <div class="interval">&nbsp|&nbsp</div>
                <dd class="news-date"> 5月24日
                <dd>
            </dl>
        </div>
        <div class="news-container">
            <div class="news-title"> <a href="新闻链接" style="font-family: 'MF ShangYa (Noncommercial)'">新闻标题</a> </div>
            <div class="news-abstract"> 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 </div>
            <dl class="news-bar">
                <dd class="website-name"> 新闻网站名称
                <dd>
                    <div class="interval">&nbsp|&nbsp</div>
                <dd class="news-date"> 5月24日
                <dd>
            </dl>
        </div>
        <div class="news-container">
            <div class="news-title"> <a href="新闻链接" style="font-family: 'MF ShangYa (Noncommercial)'">新闻标题</a> </div>
            <div class="news-abstract"> 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 </div>
            <dl class="news-bar">
                <dd class="website-name"> 新闻网站名称
                <dd>
                    <div class="interval">&nbsp|&nbsp</div>
                <dd class="news-date"> 5月24日
                <dd>
            </dl>
        </div>
        <div class="news-container">
            <div class="news-title"> <a href="新闻链接" style="font-family: 'MF ShangYa (Noncommercial)'">新闻标题</a> </div>
            <div class="news-abstract"> 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 </div>
            <dl class="news-bar">
                <dd class="website-name"> 新闻网站名称
                <dd>
                    <div class="interval">&nbsp|&nbsp</div>
                <dd class="news-date"> 5月24日
                <dd>
            </dl>
        </div>
        <div class="news-container">
            <div class="news-title"> <a href="新闻链接" style="font-family: 'MF ShangYa (Noncommercial)'">新闻标题</a> </div>
            <div class="news-abstract"> 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 </div>
            <dl class="news-bar">
                <dd class="website-name"> 新闻网站名称
                <dd>
                    <div class="interval">&nbsp|&nbsp</div>
                <dd class="news-date"> 5月24日
                <dd>
            </dl>
        </div>
        <div class="news-container">
            <div class="news-title"> <a href="新闻链接" style="font-family: 'MF ShangYa (Noncommercial)'">新闻标题</a> </div>
            <div class="news-abstract"> 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 新闻摘要 </div>
            <dl class="news-bar">
                <dd class="website-name"> 新闻网站名称
                <dd>
                    <div class="interval">&nbsp|&nbsp</div>
                <dd class="news-date"> 5月24日
                <dd>
            </dl>
        </div>
    </li>
</section>
<div class="pagination-bar">
	<a href="#" class="page-prev disabled">&lt;</a>
	<a href="#" class="disabled">1</a>
	<a href="#">2</a>
	<a href="#">3</a>
	<a href="#">4</a>
	<span>...</span>
	<a href="#">19</a> <a href="#">20</a>
	<a href="#" class="page-next">&gt;</a>
</div>
{% endblock %}