{% extends 'base.html' %}
	{% block content %}
<link href="../static/assets/css/news.css" rel="stylesheet" type="text/css">
<link href="../static/assets/css/article.css" rel="stylesheet" type="text/css">
<section class="article-container">
    <div class="news-title" style="font-family: 'MF ShangYa (Noncommercial)'">{{ post.title }}{% if not post.title%}标题未取得{% endif %}</div>
    <dl class="articleinfo-bar">
        <dd class="website-name"><a href="#" target="_blank" class=""> {{ post.author }}</a> </dd>
        <div class="interval">&nbsp&nbsp</div>
        <dd class="news-date"> {{ post.timestamp }} </dd>
    </dl>
    <div class="article-content"> {{ post.body }}</div>
</section>


{% endblock %}