{% extends 'base.html' %}
	{% block content %}
<link href="assets/css/news.css" rel="stylesheet" type="text/css">
<link href="assets/css/article.css" rel="stylesheet" type="text/css">
<section class="article-container">
    <div class="news-title" style="font-family: 'MF ShangYa (Noncommercial)'">新闻标题</div>
    <dl class="articleinfo-bar">
        <dd class="website-name"><a href="#" target="_blank" class=""> 新闻社名称</a> </dd>
        <div class="interval">&nbsp&nbsp</div>
        <dd class="news-date"> 5月29日 </dd>
    </dl>
    <div class="article-content">新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 新闻内容 </div>
</section>


{% endblock %}